body{
	margin: 0;
	padding: 0;
	min-width: 100%;
	background-color: #fff;
}
table {
	border-spacing: 0;
	font-family: sans-serif;
	color: #333;
}
td{
	padding: 0;
}
img {
	border: 0;
}
.wrapper {
	width: 100%;
	table-layout: fixed;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
.webkit {
	max-width: 600px;
}